# --- Visual Studio .gitignore ---
## Ignore all bin and obj folders, package files, user settings...
**/[Bb]in/
**/[Oo]bj/
*.user
*.suo
*.ide/
.vs/

## Ignore Nuget packages
*.nupkg
**/packages/
*.pdb

## Ignore other files
*.log
*.cache
*~